.canvas-container {
  width: var(--canvas-size);
  height: var(--canvas-size);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
}

.canvas-stage {
  background-color: white;
  border: 2px solid black;
}
